<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="P3.Properties.Settings.connString" connectionString="server=db4free.net;user id=team55;password=t@#55A89hrb;persistsecurityinfo=True;database=team55_db"
            providerName="MySql.Data.MySqlClient" />
        <add name="P3.Properties.Settings.team55_dbConnectionString"
            connectionString="server=db4free.net;user id=team55;persistsecurityinfo=True;database=team55_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>